@import "../structure-global.css";

.wrapper-About {
  display: flex;
  justify-content: center;
}

.container-About {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  max-width: 900px;
  margin: 10px 0;
}

.sectionRight,
.sectionLeft {
  flex: 1;
  box-sizing: border-box;
  margin-top: 10px;
  padding: 10px;
}

.sectionRight {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper-About span {
  margin-bottom: 10px;
}

.titleAbout {
  text-align: center;
  margin: 20px 0;
}

@media (max-width: 768px) {
  .container-About {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
