@import "../structure-global.css";

.wrapper-About {
  display: flex;
  justify-content: center;
  background-color: rgb(180, 180, 180);
}

.container-About {
  display: flex;
  width: 80%;
  max-width: 900px;
  margin: 10px 0;
}

.sectionRight,
.sectionLeft {
  flex: 1;
  width: 48%;
  box-sizing: border-box;
  padding: 10px;
}

.wrapper-About span {
  margin-bottom: 10px;
}

.titleAbout {
  text-align: center;
}

.sectionRight {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sectionLeft {
  background-color: white;
}
