@import "../structure-global.css";

.wrapper-Awards {
  display: flex;
  justify-content: center;
}

.container-Awards {
  width: 80%;
  background-color: white;
  max-width: 900px;
  margin: 10px 0;
}

.title-Awards {
  text-align: center;
  margin: 20px 0;
}

.card-Awards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}
