@import "../structure-global.css";

.btns-slide {
  position: absolute;
  display: flex;
  top: 80%;
  right: 15%;
  text-align: center;
  z-index: 1;
}

.btns-slide button {
  display: flex;
  align-items: center;
  margin: 5px;
  padding: 8px;
  background-color: var(--color-back);
}

#prev-button,
#next-button {
  width: 30px;
  height: 30px;
  border: 1px solid var(--color-light);
  cursor: pointer;
}

#prev-button {
  transform: rotate(180deg);
}

#prev-button,
#next-button {
  width: 100%;
  color: var(--color-light);
}
