@import "../structure-global.css";

.wrapper-slider{
    display: flex;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.wrapper-images{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 700px;
}

.wrapper-images img{
    width: 700px !important;
}

.btns-slide{
    display: flex;
    position: absolute;
    bottom: 15%;
    right: 35%;
    z-index: 1;
}
.btns-slide button{
    display: flex;
    padding: 10px;
    margin: 1px;
    background-color: #fff !important;
}

.slider{
    opacity: 0;
    transition: 0.3s;
    position: absolute;
    width: 100%;
    border-radius: 2%;
}

.on{
    opacity: 1;
}

#prev-button, #next-button{
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#prev-button{
    transform: rotate(180deg);
}

#prev-button, #next-button{
    width: 100% !important;
    height: 100% !important;
    color: var(--color-light);
}
