@import "../structure-global.css";

.wrapper-FooterPage {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #2f602d;
}

.container-FooterPage {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: top;
  justify-content: center;
  max-width: 900px;
  background-color: #2f602d;
  color: white;
  margin: 5%;
}

.footerItem-FooterPage {
  flex: 1;
  text-align: center;
  background-color: #2f602d;
  align-items: left;
  width: 950px;
  display: flex;
  flex-direction: column;
  margin: 10px !important;
  padding: 0 !important;
}

.infos-FooterPage {
  padding: 5px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.address-FooterPage,
.phone-FooterPage,
.service-FooterPage{
  display: flex !important;
  text-align: left !important;
  margin: 0 !important;
  padding: 0 !important;
  margin-bottom: 28px !important;
}

.address-FooterPage,
.phone-FooterPage,
.service-FooterPage {
  display: flex;
  margin-top: 20px;
  margin-left: 70px;
}

.span-FooterPage {
  max-width: 100%;
  overflow: hidden;
  word-wrap: break-word;
  margin: 0 auto;
  height: auto;
  color: rgb(226, 226, 226);
}

.span-FooterPage p{
  font-family: 'Poppins', sans-serif !important;
  font-size: 15px;
  text-align: left;
}

.infos-FooterPage p {
  margin-left: 10px;
  font-family: 'Poppins', sans-serif !important;
  font-size: 15px;
}

.logo-FooterPage img {
  max-width: 180px;
  margin-bottom: 30px;
}

.icons-FooterPage {
  display: flex;
  flex-direction: row;
  align-items: left;
  width: 100%;
  height: 2rem;
}

.iconFooterPage{
  color: rgb(255, 255, 255);
  width: 20px !important;
  height: 20px !important;
}

.icons-FooterPage > * {
  margin: 0 5px;
}

.list-FooterPage {
  list-style: none;
  padding: 0;
  margin: 0;
}

.links-FooterPage a {
  color: white;
}

.item-FooterPage {
  text-align: center;
  margin: 10px 0;
}

.columns-FooterPage {
  display: flex;
  width: 100%;
}

.columns-FooterPage a{
  font-family: 'Poppins', sans-serif !important;
  font-size: 15px;
  text-decoration: none;
}

.col-1,
.col-2 {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 50%;
  min-width: 120px;
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: right;
}

.col-2 li{
  text-align: right;
}

.col-1 li{
  text-align: right;
  padding-left: 50px;
  margin-left: 50px;
}

.titleRighter-FooterPage{
  text-align: right;
}

.links-footer{
  display: flex;
  align-items: right;
  text-align: right;
}

#logoinfos-Footer{
  display: flex;
  text-align: left;
  flex-direction: column;
  align-items: left;
}