@import "../structure-global.css";

.wrapper-InicialContact {
  background-color: var(--color-dark);
}

.container-InitialContact {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5vh;
  margin: 0 auto;
  width: 80%;
}

.mail-phone {
  display: flex;
  align-items: center;
}

.mail,
.phone,
.icons {
  display: flex;
  align-items: center;
  color: var(--color-icon);
}

.mail h5,
.phone h5 {
  margin-left: 10px;
  margin-right: 50px;
  color: var(--color-text);
}

.icons > *:not(:last-child) {
  margin-right: 8px;
}
