@import "../structure-global.css";

.wrapper-Location {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: rgb(180, 180, 180);
}

.container-Location {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 900px;
  margin: 10px auto;
}

.esquerda,
.direita {
  flex: 1;
  background-color: white;
}

.titleLeft-Location,
.titleRight-Location {
  text-align: center;
}
