@import "../structure-global.css";

.wrapper-Navbar {
  background-color: rgba(255, 0, 0, 0);
  overflow: hidden;
  height: 10%;
  margin-top: 20px;
}

.container-Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  margin: 0 auto;
  width: 80%;
  max-width: 900px;
  background-color: rgba(255, 0, 0, 0);
}

.logo-Navbar {
  display: flex;
  align-items: center;
}

.logo-Navbar img {
  max-width: 150px;
}

.buttonsCascade-Navbar {
}

#list-Navbar {
  display: flex;
  justify-content: space-around;
}

button {
  border: none;
  background-color: var(--color-transparency);
}

.item {
  margin-right: 10px;
}

.item:last-child {
  margin-right: 0;
}

.item a {
  color: white;
  text-decoration: none;
}

.item a:hover {
  color: rgb(54, 216, 54);
}

#mobile {
  display: none;
}

#mobile i {
  color: rgb(255, 255, 255);
}

@media (max-width: 768px) {
  #list-Navbar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: fixed;
    top: 44px;
    right: -300px;
    width: 200px;
    height: 100vh;
    background-color: rgba(0, 0, 255, 0);
    padding: 40px 0 0 10px;
    transition: 0.7s ease-in-out;
  }

  #list-Navbar.active {
    right: 0px;
  }

  #list-Navbar li {
    margin-bottom: 25px;
  }

  #mobile {
    display: block;
  }

  #mobile i {
    font-size: 24px;
    cursor: pointer;
  }
}
