@import "../structure-global.css";

.wrapper-Navbar {
  background-color: rgba(90, 228, 55, 0);
  height: 20%;
}

.container-Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;
  width: 80%;
  max-width: 900px;
  background-color: rgba(255, 0, 0, 0);
}

.logo-Navbar {
  display: flex;
  align-items: center;
}

.logo-Navbar img {
  max-width: 150px;
}

#list-Navbar {
  display: flex;
  justify-content: space-around;
}

button {
  border: none;
  background-color: var(--color-transparency);
}

.item {
  margin-right: 10px;
}

.item:last-child {
  margin-right: 0;
}

.item a,
button {
  color: white;
  text-decoration: none;
}

/* .item a:hover,
span:hover {
  color: rgb(54, 216, 54);
} */

.item i {
  margin-left: 3px;
  font-size: 7px;
  color: white;
}

.submenu {
  position: absolute;
  margin: 10px auto;
}

.submenu li {
  margin-bottom: 10px;
}

.item:hover .submenu {
  display: block;
}

#mobile {
  display: none;
}

#mobile i {
  color: rgb(255, 255, 255);
}

@media (max-width: 768px) {
  #list-Navbar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: fixed;
    top: 44px;
    right: -300px;
    width: 200px;
    height: 100vh;
    background-color: rgba(0, 0, 255, 0);
    padding: 40px 0 0 10px;
    transition: 0.7s ease-in-out;
  }

  #list-Navbar.active {
    right: 0px;
  }

  #list-Navbar li {
    margin-bottom: 25px;
  }

  .submenu li {
    margin-left: 100px;
    margin-top: -20px;
    font-size: 14px;
  }

  #mobile {
    display: block;
  }

  #mobile i {
    font-size: 24px;
    cursor: pointer;
  }
}
