@import "../structure-global.css";

.wrapper-OurService {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.title-OurService {
  text-align: center;
  background-color: white;
  width: 80%;
  max-width: 900px;
  margin: 20px 0;
}

.card-OurService {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: white;
  text-align: center;
}

.card {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 30%;
  align-items: center;
  justify-content: center;
}

.card:first-child {
  margin: 0;
}

.card:last-child {
  margin: 0;
}

.buttonSlide-OurService {
  display: flex;
  justify-content: end;
}

@media (max-width: 425px) {
  .card-OurService {
    flex-direction: column;
  }

  .card-OurService .card {
    flex-basis: 100%;
  }
}
