@import "../structure-global.css";

.wrapper-OurService {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title-OurService {
  text-align: center;
}

.cards-container {
  display: flex;
  justify-content: space-around;
}

.card-OurService {
  display: flex;
  justify-content: center;
}

.card {
  width: 200px;
  border: 1px solid #ccc;
  padding: 16px;
  margin: 12px;
  border-radius: 12px;
}

.buttonSlide-OurService {
  display: flex;
  justify-content: end;
}
