@import "../structure-global.css";

.wrapper-OurService {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-color: yellow;
  display: flex;
  align-items: center;
}

.title-OurService {
  text-align: center;
}

.card-OurService {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.card {
  border: 1px solid #ccc;
  margin: 12px;
  border-radius: 12px;
}

.card:first-child {
  margin: 0;
}

.card:last-child {
  margin: 0;
}

.buttonSlide-OurService {
  display: flex;
  justify-content: end;
}
