@import "../structure-global.css";

.wrapper-RecentProjects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.container-RecentProjects {
  margin-top: 20px;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  max-width: 900px;
}

.title-RecentProjects {
  margin: 20px 0;
  background-color: white;
  width: 80%;
  max-width: 900px;
}

.gridImages-RecentProjects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
  box-sizing: border-box;
  max-width: 900px;
  width: 100%;
}

.imageItens-RecentProjects {
  width: calc(33.33% - 20px);
  margin: 10px;
  box-sizing: border-box;
}

.imageItens-RecentProjects img {
  width: 100%;
  height: auto;
  display: flex;
}

@media (max-width: 768px) {
  .imageItens-RecentProjects {
    width: calc(50% - 20px);
  }
}

@media (max-width: 425px) {
  .imageItens-RecentProjects {
    width: calc(100% - 20px);
  }
}
