* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.mainBody,
.headerBody,
.mainFooter {
  width: 100%;
}

:root {
}

.list {
  display: flex;
  list-style: none;
  align-items: center;
}

ul {
  list-style: none;
}
