* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --color-dark: #003300;
  --color-medium: #339933;
  --color-light: #00ffcc;
  --color-lighter: #00ffcc27;
  --color-icon: #00ffcc;
  --color-text: #ccffcc;
  --color-transparency: #ffffff00;
}

h4 {
  color: var(--color-medium);
}

.list {
  display: flex;
  list-style: none;
  align-items: center;
}
